@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(245, 184, 30);
    color: #333;
}

h1 {
    color: black;
    padding: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(245, 231, 195);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#mission {
    display: flex;
    align-items: center;
}

img#temple-image {
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    filter: drop-shadow(0 7px 5px black);
    margin-left: 40px;
}

img#temple-image:hover {
    transform: scale(1.1);
}

div#mission-text {
    flex: 1;
    padding-left: 40px;
}

h2 {
    color: #333;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div img {
    width: 150px;
    filter: drop-shadow(0 10px 5px black);
  }

  .faculties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .unit {
    margin: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .unit img {
    border-radius: 100px;
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
  }

  .unit img:hover {
    transform: scale(1.1);
}

  .unit p {
    text-align: center;
    margin: 5px;
  }

  .unit p:first-of-type {
    font-weight: bolder;
    margin-bottom: 5px;
  }

  li{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.contact-info div {
    flex: 1;
    text-align: center;
}

.contact-info img{
    width: 40px; 
    height: 40px;
}

.social-icons {
    margin-top: 50px;
    margin-left: 450px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.2);
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    width:97%;
    position: absolute; 
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links {
    margin-top: 7px;
}

.footer-links a{
    margin: 0 30px;
}

.ftfont{
    text-align: left; 
    color: white; 
    margin-left: 10%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.footer-icon {
    margin-left: 80px;
    margin-right: 100px;
      display: flex;
  align-items: center;
}

.footer-icon img {
    width: 35px;
    height: 35px;
    margin: 0 6px;
    transition: transform 0.3s ease-in-out;
}

.footer-icon img:hover {
    transform: scale(1.2);
}


hr {
    margin: 15px 0;
  }
  
.copyright{
    margin: 0;
    text-align: center;
  }

